@media (max-width: 1024px) {
    body {
        margin: 0 auto;
        width: 70%;
    }
}

@media (max-width: 768px) {
    body {
        margin: 0 auto;
        width: 85%;
    }
}

@media (max-width: 500px) {
    body {
        margin: 0 10px;
        width: calc(100% - 20px);
    }
}
